/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(tapete02.jpg);
    height: 100%;

    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, sans-serif;
    background-color: #fdc5c5;
}

header {
    background-image: url();
    background-color: #ca3f3f;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-weight: bold;
}

section {
    padding: 40px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#photoGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
}

.photo {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.photo:hover {
    transform: scale(1.1);
}

.photo img {
    width: 100%;
    height: auto;
}

.custom-file-upload {
    border: 1px solid #ccc;
    background-color: #fff;
    color: rgb(71, 71, 71);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #f0f0f0;
}
